body {
    background-image: url('img/the_wall.jpeg');
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    text-align: center;
    font-family: 'Uncial Antiqua', cursive;
    font-size: 50px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.character {
    background-color: white;
    border: solid black 3px;
    margin: 15px auto;
}

h3 {
    text-align: center;
}

img {
    height: 300px;
    width: auto;
}